body {
  color: white;
  background: black;
  font-family: monospace;
  padding: 7.5%;
  font-size: 250%;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: dodgerblue;
}
